@import "variables";
@import "typography_style";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

//Estilo First-Mobile
.navbar {
    background-color: $grey !important;
}

.bg-dark {
    background-color: #1E272E !important;
}

.container-fluid {
    gap: 20px;
}

.navbar-toggler-icon {
    background-image: url("");
}

.navbar-brand {
    flex-direction: row;
    align-items: center;
}

.img-header {
    width: 80px;
    height: 80px;
}

.navbar-collapse {
    gap: 20px;
}

.navbar-nav {
    gap: 20px;
}

.nav-link {
    color: $grey !important;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: rgba($color: $white, $alpha: 0.2);
    color: $grey;
    border-radius: 2rem;
}

.offcanvas {
    z-index: 2000 !important;
}

.offcanvas-backdrop {
    z-index: 1999 !important;
}

.clock {
    font-family: "Roboto", sans-serif;
    color: $white;
    font-size: 1.5rem;
}

.background-intro {
    background-image: url(../img/background_image_intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    height: 500px;
    max-height: 500px;
    text-align: center;
}

.container-footer{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width: 1020px) {
    .nav-link {
        color: $white !important;
    }

    .text-size {
        max-width: 550px;
    }

    .background-intro {
        justify-content: space-around;
        text-align: left;
    }
}

// Estilos del main

// Fondo general de la página
body.bg-background {
    background-color: $background;
}

.btn-display {
    display: flex;
    gap: 10px;

}

// Margen del contenedor principal
.home-main {
    margin-top: 50px;
}

// Estilos del título principal
h1.text-center.title {
    color: $turquoise;
    font-size: 4rem;
    padding-bottom: 5px;
}

// Tamaño del título principal en móvil
@media (max-width: 500px) {
    h1.text-center.title {
        font-size: 3rem;
    }
}

// Estilos del subtítulo
h3.text-center {
    color: $gold;
    font-size: 2rem;

}

// Tamaño del subtítulo en móvil
@media (max-width: 500px) {
    h3.text-center {
        font-size: 2rem;
    }
}

// Estilos de los botones principales
a.btn.btn-primary.btn-lg.custom-btn {
    color: $white;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: $gold;
    border-color: $gold;
    transition: background-color 0.3s;
    padding: 15px 35px;
}

// Efecto al pasar el ratón por los botones principales
a.btn.btn-primary.btn-lg.custom-btn:hover {
    background-color: $turquoise;
    border-color: $turquoise;
}

// Tamaño del título de las tarjetas
.card-body h5.card-title {
    font-size: 1.5rem;
}

// Tamaño del texto de las tarjetas
.card-body p.card-text {
    color: $grey;
    font-size: 1.2rem;
}

// Estilos del footer

// Definición del degradado
.footer-gradient {
    background: linear-gradient(135deg, $turquoise 0%, $grey 100%);
    position: relative;
    overflow: hidden;
}


// Sección inferior con tu color $grey
.footer-bottom {
    background-color: $grey;
}


// Estilo para los enlaces del footer
.footer-gradient a {
    transition: all 0.3s ease;
    opacity: 0.9;
}


// Efecto al pasar el ratón por los enlaces del footer
.footer-gradient a:hover {
    opacity: 1;
    color: $gold !important;
    padding-left: 5px;
}


// Iconos en dorado
.footer-gradient i {
    color: $gold;
}
