body {
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
}

form {
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 5px;
    padding: 1%;
    margin: 3%;
}

.form-section {
    margin-bottom: 5%;
}

.line-form {
    display: flex;
    gap: 10px;
}

.btns {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.container-footer{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}


@media (min-width: 1020px) {
    .container{
        justify-content: center;
        max-width: 80%;
    }
    .form-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "form-title form-title"
        "form-pet form-owner"
        "form-allergy form-allergy"
        "btns btns";
        gap:10px;
        justify-content: center;
    }

    .form-title{
        grid-area: form-title;
        text-align: center;
    }

    .form-owner{
        grid-area: form-owner;
        display: flex;
        flex-direction: column;
        max-width: 570px;
    }

    .form-pet{
        grid-area: form-pet;
    }

    .form-allergy{
        grid-area: form-allergy;
    }

    .btns{
        grid-area: btns;
    }
    .form-section {
        margin-bottom: 3%;
    }
}