.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    gap: 10px;
}

.title-section {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.pet-info {
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(54, 97, 96, 0.4);
}

.pet-header {
    background-color: #1E272E;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
    gap: 10px;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(54, 97, 96, 0.4);
}

.header-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.avatar-text {
    width: 100px;
    height: 100px;
    background-color: #D4AF37;
    color: #1E272E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(89, 178, 176);
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    flex-shrink: 0;
}

.intro {
    background-color: #1E272E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.intro-pathologies {
    background-color: #1E272E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.intro-appointments {
    background-color: #1E272E;
    display: flex;
    text-align: center;
    padding: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.no-pathology {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}


.information-elements {
    padding: 5%;
}

.pet-name {
    display: flex;
    gap: 10px;
}

.pet-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.owner-info {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(54, 97, 96, 0.4);
}

.owner-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.owner-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin-top: 5%;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.owner-direction {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
}

.information-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pet-clinic-history {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(54, 97, 96, 0.4);
}

.table-pages {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.-container,
.-container-allergy {
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.-container table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 10;
    border-bottom: 2px solid #dee2e6;
}

.-container::-webkit-bar {
    width: 8px;
}

.-container::-webkit-bar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.-container::-webkit-bar-thumb:hover {
    background: #adb5bd;
}

.element-info {
    display: flex;
    margin-left: 1%;
    gap: 15px;
}

.icon-element {
    width: 50px;
    height: 50px;
    color: #1E272E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border: 2px solid rgba(56, 144, 144, 0.1);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    flex-shrink: 0;
    background-color: rgba(56, 144, 144, 0.1);
}

.pet-allergy {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(54, 97, 96, 0.4);
}

.btns-allergy {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn-options {
    border: none;
}

.dropdown-menu {
    border-radius: 2px solid rgba(187, 187, 187, 0.5);
}

.pet-modal {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
}

.pathology-modal {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
}

.pathology-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.pet-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.p-display{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

.data-form {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;

}

.container-footer {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.scroll-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.scroll-container table thead th {
    top: 0;
    background-color: #f8f9fa;
    z-index: 10;
    border-bottom: 2px solid #dee2e6;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
}

@media (min-width: 768px){

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "title title"
            "header owner"
            "info owner"
            "allergy allergy"
            "clinic-history clinic-history";
        gap: 20px;
        align-items: start;
        max-width: 80%;
    }

    .pet-header {
        grid-area: header;
    }

    .title-section {
        grid-area: title;
        margin-bottom: 2%;
    }

    .pet-info {
        grid-area: info;
    }

    .owner-info {
        grid-area: owner;
        margin: 0;
    }

    .pet-allergy {
        grid-area: allergy;
        margin: 0;
        height: 335px;
        max-height: 335px;
    }

    .pet-clinic-history {
        grid-area: clinic-history;
        margin: 0;
    }

    .no-pathology {
        text-align: center;
    }

    .scroll-container {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "title title title"
            "header allergy owner"
            "info allergy owner"
            "clinic-history clinic-history clinic-history";
        gap: 20px;
        align-items: start;
        max-width: 80%;
    }

    .p-display {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "elements1 elements2";
        align-items: center;
        justify-items: center;
    }

    .elements-1 {
        grid-area: elements1;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .elements-2 {
        grid-area: elements2;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .intro-appointments {
        padding: 2%;
    }

    .pet-header {
        grid-area: header;
    }

    .title-section {
        grid-area: title;
        margin-bottom: 2%;
    }

    .pet-info {
        grid-area: info;
    }

    .owner-info {
        grid-area: owner;
        margin: 0;
    }

    .pet-clinic-history {
        grid-area: clinic-history;
        margin: 0;
    }

    .pet-allergy {
        grid-area: allergy;
        margin: 0;
        height: 508px;
        max-height: 508px;
    }

    .-container-allergy {
        height: 450px;
        max-height: 450px;
    }

    .scroll-container{
        max-height: 420px;
    }
}