body {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.title-section {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.pet-info {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    padding: 1%;
    width: 100%;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.pet-name {
    display: flex;
    gap: 10px;
}

.pet-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.owner-info {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    padding: 1%;
    width: 100%;
}

.owner-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
}

.owner-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 2%;
}

.owner-direction {
    border-top: 1px solid rgba(187, 187, 187, 0.5);
    display: flex;
    flex-direction: column;
}

.information-section {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.pet-nextAppointment {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet-clinic-history {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    padding: 1%;
    width: 100%;
}

.table-pages {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.scroll-container,
.scroll-container-allergy {
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.scroll-container table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 10;
    border-bottom: 2px solid #dee2e6;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
}

.pet-allergy {
    margin: 1%;
    background-color: #F8F9FA;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    padding: 1%;
    width: 100%;
}

.allergy-actions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 1%;
}

.btns-allergy {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn-options {
    border: none;
}

.dropdown-menu {
    border-radius: 2px solid rgba(187, 187, 187, 0.5);
}

.pet-modal {
    border: none;
    border-radius: 15px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
}

.pet-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

.container-footer{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}


@media (min-width: 1020px) {
    .container {
        display: grid;
        grid-template-columns: 20% 20% 60%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "title title title"
            "info owner allergy"
            "info owner allergy"
            "next-appointment owner allergy"
            "clinic-history clinic-history clinic-history";
        margin-top: 3%;
        gap: 10px;
        align-items: start;
        max-width: 98%;
    }

    .title-section {
        grid-area: title;
        margin-bottom: 2%;
    }

    .pet-info {
        grid-area: info;
        margin: 0;
        height: 350px;
        max-height: 350px;
    }

    .owner-info {
        grid-area: owner;
        margin: 0;
    }

    .pet-nextAppointment {
        grid-area: next-appointment;
        margin: 0;
    }

    .pet-clinic-history {
        grid-area: clinic-history;
        margin: 0;
    }

    .pet-allergy {
        grid-area: allergy;
        margin: 0;
        height: 526px;
        max-height: 526px;
    }

    .scroll-container-allergy {
        max-height: 500px;
    }
}