.room-info {
    display: flex;
    flex-direction: column;
}

.line-hover:hover>*{
    background-color: rgba(89, 178, 176, 0.5) !important;
    transition: background-color 0.3s ease;
}

@media (min-width: 1023px) {
    .room-info {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
}